* {
    box-sizing: border-box;
}

.accordion-container {
    list-style-type: none;
    padding: 0;
}

.accordion-container .accordion-slide input[type="radio"] {
    display: none;
}

.accordion-container .accordion-slide label {
    display: block;
    margin-bottom: 1px;
    padding: 10px 20px;
    cursor: pointer;
}

.accordion-container .accordion-slide:last-child label {
    margin-bottom: 0;
}

.accordion-container .accordion-slide:last-child .pane {
    border-bottom: 1px solid #333;
}

.accordion-container .accordion-slide {
    background-color: #333;
    color: #fff;
}

.accordion-container .accordion-slide .pane {
    overflow: hidden;
    max-height: 0;
    will-change: max-height, padding-top, padding-bottom;
    transition-property: max-height, padding-top, padding-bottom;
    transition-duration: 0.25s;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fff;
    color: #333;
}

.accordion-container .accordion-slide input[type="radio"]:checked ~ .pane {
    max-height: 284px;
    transition-duration: 0.75s;
    padding-top: 10px;
    padding-left: 10px;
}